@font-face {
  font-family: 'Angeline Vintage';
  src: url('../fonts/Angeline_Vintage_Demo/Angeline\ Vintage_Demo.ttf')
    format('truetype');
  src: url('../fonts/Angeline_Vintage_Demo/Angeline Vintage_Demo.otf')
    format('opentype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pirulen';
  src: url('../fonts/pirulen.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}
